body {
	font-family: sans-serif;
        background-color: #E6E6E6;
        margin: 0;
}
main {
        margin-left: 20%;
        padding: 1px 25px;
        height: 100%;
}
footer {
        margin-left: 20%;
        padding: 10px 25px;
        width: 100%;
        position: relative;
        bottom: 0;
        border-top: 1px solid black;
        display: flex;
}
footer a {
        text-decoration: none;
        color: black;
}
footer a:hover {
        color: #b9dcfd;
}
nav ul {
        font-size: 30px;
        background-color: #58adfd;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 16%;
        height: 100%;
        position: fixed;
}
nav li {
        text-decoration: none;
        border: solid 1px lightgrey;
}
nav li a {
        display: block;
        height: 30px;
        color: #000000;
        padding: 25px 0px 25px 25px;
}
nav li a.active {
        background-color: #E6E6E6;
        color: black;
}
nav li a:link {
	text-decoration: none;
	color: white;
}
nav li a:hover:not(.active) {
        color: #b9dcfd;
}
nav li:last-child {
        position: absolute;
        bottom: 0;
}
.col-1 {
        padding-top: 20px;
        flex: 3;
}
.col-2 {
        flex: 3;
}
.col-3 {
        flex: 3;
}